// views/404.pug
doctype html
html
  head
    title Page Not Found
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style.css')
  body
    h1 404 - Page Not Found
    a(href='/') Back to Home
