// views/donate.pug
doctype html
html
  head
    title Donate to #{project.title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/input.css')
  body
    .menu-container
      nav
        ul
          li: a(href="/") Home
      
    br
    h1 Donate to #{project.title}
    br
    
    form(action=`/donate/${project.id}`, method='post' style="text-align:center;").project-card
      label Donor:
      input(type='string', name='donor', required)
      br
      br
      label Amount ($):
      input(type='number', name='amount', required)
      

      if(coinsDepositList)
        br
        br
        include include/coins-select.pug


        br
        br
        button(type='submit').cool-button Preview Payment


