//- views/error.pug
doctype html
html 
	head 
		include include/header.pug

		if(error)
			title #{error.title}
		else
			title Error
		
		link(rel='stylesheet' href='/css/success-cancel.css')

	body.fail
		div.notification-container
			div.errormark
			if(error)
				h1.errorTitle #{error.title}

				p #{error.message}
				
				a(href="javascript:window.history.back()").btn Back to previous page	
			else 
				p Unknown error