//- Footer
.footer

    .footer-column
        img(src="/img/logo-white.png" width="100px" alt="Sample Image")
        h1 SimpleFunding

        p 2025

        //- .footer-content
        //-   p.social-links: a(href="") 2025
        //-   p.social-links: a(href="") 2025
        //-   p.social-links: a(href="") 2025
        
        //- .footer-column
        //-   p 2025

        .footer-bottom
            a(href="/disclaimer") Build for SideShift Wave Hack