/* Table */
table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  font-size: 14px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}



@media screen and (max-width: 768px) {
  table {
    width: 100%;
    margin: 0;
    /* box-shadow: none; */
  }
  
  th, td {
    padding: 8px 10px;
    text-align: right;
    border-bottom: 1px solid #eee;
  }
  
  th::before {
    /* content: attr(data-label) ": "; */
    position: absolute;
    left: 10px;
    width: 45%;
    text-align: left;
    font-weight: bold;
  }
  
  /* Hide table header on mobile */
  thead {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  /* table {
  } */
  
  th, td {
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 6px 8px;
  }
  
  .label {
    font-size: 10px;
    padding: 2px 6px;
  }
}